/**
 * Hexicon
 * Copyright 2021-2024
 * A set of tools for quick development.
 *
 * @package   Hexicon
 * @author    Together Campaign
 * @version   3.1.10
*/


/** For writing */


[hide] {
    display: none;
}
bold {
    font-weight: bold;
}
light {
    font-weight: lighter;
}
red {
    color: red;
}
blue {
    color: #007bff;
}
green {
    color: rgb(0, 141, 0);
}
greenyellow {
    color: greenyellow;
}
orange {
    color: orange;
}
orangered {
    color: orangered;
}
black {
    color: #030302;
}
pink {
    color: pink;
}
white {
    color: white;
}
[white] {
    background-color: white;
}

none /** Hides cursor */ {
    cursor: none;
}
[cursor="pointer"] {
    cursor: pointer;
}
[cursor="not-allowed"] {
    cursor: not-allowed;
}
[cursor="progress"] {
    cursor: progress;
}
[cursor="text"] {
    cursor: text;
}
[cursor="zoom-in"] {
    cursor: zoom-in;
}
[cursor="zoom-out"] {
    cursor: zoom-out;
}
[cursor="crosshair"] {
    cursor: crosshair;
}
[cursor="copy"] {
    cursor: copy;
}
[cursor="grab"] {
    cursor: grab;
}
[cursor="grabbing"] {
    cursor: grabbing;
}
[cursor="help"] {
    cursor: help;
}
[cursor="no-drop"] {
    cursor: no-drop;
}
[cursor="wait"] {
    cursor: wait;
}
[cursor="alias"] {
    cursor: alias;
}
[cursor="all-scroll"] {
    cursor: all-scroll;
}
[cursor="cell"] {
    cursor: cell;
}
[cursor="default"] {
    cursor: default;
}
[cursor="none"] {
    cursor: none;
}
[cursor="col-resize"] {
    cursor: col-resize;
}
[cursor="ne-resize"] {
    cursor: ne-resize;
}
[cursor="ns-resize"] {
    cursor: ns-resize;
}
[cursor="nw-resize"] {
    cursor: nw-resize;
}
[cursor="nwse-resize"] {
    cursor: nwse-resize;
}
[cursor="row-resize"] {
    cursor: row-resize;
}
[cursor="vertical-text"] {
    cursor: vertical-text;
}
[display="none"] {
    display: none;
}
[mute-text] {
    color: #6c757d;
}
p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h1 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 0.59318em;
}
h2 {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0.73971em;
}
h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.87em;
}
h4 {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 1.044em;
}
h5 {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 1.18536em;
}
h6 {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 1.18636em;
}
small, .small /* text only */{
    font-size: 80%;
}
p {
    font-size: 1em;
}
.center, [center] /** text only */ {
    text-align: center;
}
[textalign="end"] {
    text-align: end;
}
[textalign="left"] {
    text-align: left;
}
[textalign="right"] {
    text-align: right;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
italic /* text only */{
    font-style: italic;
}
.uppercase, [uppercase] /* text only */{
    text-transform: uppercase;
}
.lowercase, [lowercase] /* text only */{
    text-transform: lowercase;
}
.capitalizer, [capitalizer] /* text only */{
    text-transform: capitalize;
}
stick:before {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
    color: #555;
    font: normal normal normal 1em/1.45 "Roboto", Arial, Helvetica, sans-serif;
    font-size: inherit;
}
/** Media */

left {
    float: left;
}
right {
    float: right;
}
[center] {
    float: none;
    margin-left: auto;
    margin-right: auto;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
m {
    text-align: cente;
    float: left;
}
[circle] /* for img only */ {
    border-radius: 30em;
}
img {
    border-style: none;
    vertical-align: middle;
}

/** Style */

html {
    font-size: 1em;
}
html:after {
    content: '[{"name":"xlarge", "size":{"min":"1261px","max":""}},{"name":"large", "size":{"min":"961px","max":"1260px"}},{"name":"medium", "size":{"min":"641px","max":"960px"}},{"name":"small", "size":{"min":"321px","max":"640px"}},{"name":"tiny", "size":{"min":"","max":"320px"}}]';
    display: none;
}
body {
    color: #555;
    font: normal normal normal 1em/1.45 "Roboto", Arial, Helvetica, sans-serif;
    font-size: inherit;
    scroll-behavior: smooth;
}
[htop] {
    font-size: 4em;
}
[hcenter] {
    font-size: 3em;
    margin-top: -0.80em;
}
[middle] {
    text-align: center;
}
[hbody] {
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
}
progress {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-color: #e9ecef;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1em;
    border-radius: 0.25rem;
  }
  
[progress-bar] {
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    background-color: #007bff;
    transition: width 3.00s ease;
}
[container] {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
@media (min-width: 576px) {
    .container {
      max-width: 545px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 716px;
    }
  }
  
  @media (min-width: 980px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1208px) {
    .container {
      max-width: 1145px;
    }
  }
  @media (min-width: 360px) {
      .container {
          max-width: 360px;
      }
  }
code {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}
a {
    color: rgb(13, 111, 216);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: rgb(0, 0, 0);
}

/** Buttons */
button {
    background: none;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
[lg] /* enlargen everywere */{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}
[llg] /* enlargen everywere */{
    padding: 0.5rem 1rem;
    font-size: 1.50rem;
    line-height: 1.5;
}
[lllg] /* enlargen everywere */{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
}
[third] {
    background: none;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-color: rgb(236, 16, 16);
    background-color: red;
    color: white;
}
[third]:hover {
    border-color: palegoldenrod;
    color: rgb(255, 255, 255);
}
[first] {
    border: 1px solid transparent;
    border-color: lightblue;
}
[first]:hover {
    background-color: lightblue;
    color: white;
}
[second] {
    border: 1px solid transparent;
}
[second]:hover {
    background-color: tomato;
    color: yellow;
}
[fit]{
    display: block;
    width: 100%;
}
/** New Astributes */
/* badge */

badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
}
badge:empty {
    display: none;
}
[blue] {
    color: #fff;
    background-color: #007bff;
    border-color: #b8daff;
}
[red] {
    color: #fff;
    background-color: #ff1e00;
    border-color: #b8daff;
}
[green] {
    color: #fff;
    background-color: #0c8501;
    border-color: #b8daff;
}
[grey] {
    color: #fff;
    background-color: #4b4c4d;
    border-color: #b8daff;
}
[pink] {
    color: #fff;
    background-color: #ff00dd;
    border-color: #b8daff;
}
[purple] {
    color: #fff;
    background-color: #a605ac;
    border-color: #b8daff;
}
[orange] {
    color: #fff;
    background-color: #e06410;
    border-color: #b8daff;
}
[black] {
    color: #fff;
    background-color: #030302;
    border-color: #b8daff;
}

/* massege */

massege {
    margin-bottom: 1em;
    border: 1px solid;
    font-weight: lighter;
    padding: 1rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
[lightblue], [info] {
    color: #00356d;
    background-color: #97c8fd;
    border-color: #b8daff;
}
[lightgreen], [success] {
    color: #00801e;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
[lightorange], [dismiss] {
    color: #794800;
    background-color: #ffeba9;
    border-color: #ffeeba;
}
[lightbrown] {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
[lightred], [error] {
    color: #a00010;
    background-color: #ffaeb5;
    border-color: #f6b7be;
}

/* navbar */

nav, [nav] {
    z-index: 1200;
    padding: 0.75rem;
    font-size: 100%;
    color: #ece4e4;
    margin: -0.50em;
}
[navlogo] {
    float: right;
    height: 4em;
    width: 4em;
}

/* animation */

[animate="superslow"], [sp]{
    transition: all 2s ease-in-out;
    animation-duration: 2s;
}
[animate] {

}
[animate="slow"], [slow], [s]{
    transition: all 1s ease-in-out;
    animation-duration: 1s;
}
[animate="medium"], [m]{
    transition: all 0.5s ease-in-out;
    animation-duration: 0.5s;
}
[animate="fast"], [f] {
    transition: all 0.2s ease-in-out;
    animation-duration: 0.2s;
}

/* Zooms */
[zoom="far"] {
    zoom: 60%;
}
[zoom="close"] {
    zoom: 120%;
}
[zoom="closer"] {
    zoom: 300%;
}
/* other */

.no-margin {
    margin: 0;
}
  
.no-padding {
    padding: 0;
}
[type="text"], [type="email"], textarea {
    height: 3em;
    max-width: 50em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
dfn {
    font-style: italic;
}
[mobile] {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.50em;
}

/* block */

.block {
    width: 10rem;
    clear: none;
    border: none;
    float: left;
}
.block-1 {
    width: 15rem;
    clear: none;
    border: none;
    float: left;
}
.block-2 {
    width: 20rem;
    clear: none;
    border: none;
    float: left;
}
.block-3 {
    width: 25rem;
    clear: none;
    border: none;
    float: left;
}
.block-4 {
    width: 30rem;
    clear: none;
    border: none;
    float: left;
}
.block-5 {
    width: 35rem;
    clear: none;
    border: none;
    float: left;
}
.block-6 {
    width: 40rem;
    clear: none;
    border: none;
    float: left;
}
/* Extra */
.block-7 {
    width: 50rem;
    clear: none;
    border: none;
    float: left;
}

/* space */

.space, .s {
    margin: 2em;
}
.hs {
    margin: 1em;
}
.qs {
    margin: 0.50em;
}
.ds {
    margin: 4em;
}


/* invalid */

invalid {
    color: #dc3545;
    width: 100%;
    margin-top: 0.25rem;
    font-family: monospace;
    font-size: 0.50em;
}

/* dotted */

[dotted], .dotted {
    border: dotted;
}

/* margin */

[margin] {
    margin-left: 5em;
}